https://dl.fbaipublicfiles.com/detectron2/wheels/cu111/torch1.10/detectron2-0.6%2Bcu111-cp37-cp37m-linux_x86_64.whl
git+https://github.com/pulse2percept/pulse2percept@master#egg=pulse2percept
git+https://github.com/mpatacchiola/deepgaze.git@2.0#egg=deepgaze